In [13]:
import pandas as pd

In [ ]:
#Define the function
def say_hello():
    print("Hello!")

In [4]:
say_hello()

Hello!

In [5]:
#parameter to a function
def say_something(something):
    print(something)

In [6]:
say_something("Hello World")

Hello World

In [8]:
Jane_says = "Hi! My name is Jane. I am learning python"
say_something(Jane_says)

Hi! My name is Jane. I am learning python

In [9]:
#Function to calculate passing maths percentage
def passing_math_percentage(passing_math_count, student_count):
    return passing_math_count/float(student_count)*100

In [10]:
passing_math_count = 29370
student_count = 39170

In [11]:
passing_math_percentage(passing_math_count, student_count)

74.9808526933878

In [14]:
my_grades = ['B','C','B','D']

my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [15]:
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [16]:
#using format fuxntion
my_grades=[92.84, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

93
85
87
98

In [17]:
my_grades = pd.Series([92.84, 84.56, 86.78, 98.32])
my_grades

0    92.84
1    84.56
2    86.78
3    98.32
dtype: float64

In [19]:
my_grades.map("{:.0f}".format)

0    93
1    85
2    87
3    98
dtype: object