In [4]:
import pandas as pd

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
#create panda series
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [8]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
schools_df = pd.DataFrame()

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

In [13]:
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [15]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [17]:
#Lists for schools - practice
s_ID = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
s_name = ["Huang","Figueroa","Shelton","Hernandez","Griffin","Wilson","Cabrera","Bailey","Holden","Pena","Wright","Rodriguez","Johnson","Ford","Thomas"]
s_type = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [18]:
s_df = pd.DataFrame()
s_df["School_IDs"]=s_ID
s_df["School_Names"]=s_name
s_df["School_Type"]=s_type

In [19]:
s_df

    School_IDs School_Names School_Type
0            0        Huang    District
1            1     Figueroa    District
2            2      Shelton     Charter
3            3    Hernandez    District
4            4      Griffin     Charter
5            5       Wilson     Charter
6            6      Cabrera     Charter
7            7       Bailey    District
8            8       Holden     Charter
9            9         Pena     Charter
10          10       Wright     Charter
11          11    Rodriguez    District
12          12      Johnson    District
13          13         Ford    District
14          14       Thomas     Charter